@model InventoryOrder.Models.intity.Warehouse

@{
    ViewData["Title"] = localizer["Delete"];
}

<h1>@localizer["Delete"]</h1>
<h3>@localizer["AreYouSureYou"]</h3>
<div>
    <h4>@localizer["Warehouse"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarehouseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    <form asp-action="Delete" onsubmit="return confirmDelete();">
        <button type="submit" class="btn btn-danger">
            @localizer["Delete"]
        </button> |
        <a asp-action="Index" class="btn btn-secondary">@localizer["BackToList"]</a>
    </form>
</div>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm('@localizer["AreYouSureYouWantToDeleteThisWarehouse"]');
        }
    </script>
}
