@model IEnumerable<InventoryOrder.Models.intity.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<h1> </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@localizer["Create New"]</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().WarehouseID)</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Location)</th>
            <th>@localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.WarehouseID)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>
                    <a href="@Url.Action("Edit", "Warehouses", new { id = item.WarehouseID })" class="btn btn-warning btn-sm">
                        @localizer["Edit"]
                    </a> |
                    <a href="@Url.Action("Delete", "Warehouses", new { id = item.WarehouseID })" class="btn btn-danger btn-sm" onclick="return confirmDelete();">
                        @localizer["Delete"]
                    </a> |
                    <a href="@Url.Action("Details", "Warehouses", new { id = item.WarehouseID })" class="btn btn-info btn-sm">
                        @localizer["Details"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm('@localizer["AreYouSureYouWantToDelete"]');
        }
    </script>
}
